//- index.pug
extends ../../pages/views/page.pug
include ../../page-elements/views/form/textarea.pug
include ../../page-elements/views/form/select.pug
include ../../page-elements/views/form/field.pug
include widgets/defaults.pug

block title
  | #{__('JSON-Request-Input')}

append breadcrumbs
  li.header-breadcrumb
    a.header-breadcrumb-link(href='/hsi/jsoninput/') #{__('JSON-Request-Input')}

block content
  div#hsi.hsi.flex-wrapper
    include widgets/header.pug
    #hsi-container.hsi-container.flex-block.flex-center
      h2 #{__('JSON-Request-Input')}
      include widgets/error.pug
      form#jsonRequest.jsonRequest(method='POST', action='/hsi/jsoninput/')
        + textarea('jsonRequest', '', 60, 25, __('JSON-Request'))
        + select(__('Form'),
          'route', 
          {
            shipmentorder: __('Create Shipment Order'),
            shipmentorderlabel: __('Create Label for Shipment Order'),
            shipmentlabel: __('Create Shipment Order and Label'),
            returnorder_v2: __('Create Return Order (Version 2)'),
            returnorderlabel_v2: __('Create Label for Return Order (Version 2)'),
            returnlabel_v2: __('Create Return Order and Label (Version 2)'),
            shipmentinfo: __('Get Shipment Order Info (11 digit ShipmentOrderID)'),
            shipmentstatus: __('Get Shipment Status (14/20 digit ShipmentID / Barcode)')
          })
        + field('', {
          type: 'submit',
          value: __('submit'),
          class: 'submit'
        })
