//- index.pug
extends ../../pages/views/page.pug
include ../../page-elements/views/form/field.pug
include ../../page-elements/views/form/select.pug
include widgets/defaults.pug
include widgets/name-address.pug
include widgets/parcel.pug
include widgets/services.pug

block title
  | #{__('Get Shipment Status')}

append breadcrumbs
  li.header-breadcrumb
    a.header-breadcrumb-link(href='/hsi/shipmentstatus/') #{__('Get Shipment Status')}

block content
  div#hsi.hsi.flex-wrapper
    include widgets/header.pug
    #hsi-container.hsi-container.flex-block.flex-center
      h2 #{__('Get Shipment Status')}
      include widgets/error.pug
      include widgets/request.pug
      if response
        h3 Response
        pre= JSON.stringify(response, null, 2)
      form#shipmentstatus.shipmentstatus(method='POST', action='/hsi/shipmentstatus/')
        + field(__('Shipment ID (BC14/BC20)'), {
            type: 'text',
            name: 'shipmentID'
        })
        + field(__('Shipment ID (BC14/BC20)'), {
            type: 'text',
            name: 'shipmentID'
        })
        + field(__('Shipment ID (BC14/BC20)'), {
            type: 'text',
            name: 'shipmentID'
        })
        + field('', {
          type: 'submit',
          value: __('show status'),
          class: 'submit'
        })
