//- widgets/header.pug

#head.flex-block.flex-header
  #header-wrapper.flex-wrapper
    h1#headline.headline.flex-block.flex-left= module.name + ' ' + (session && session.authData && session.authData.targetEnv ? __(session.authData.targetEnv) : '')
