//- widgets/name-address.pug
mixin nameAddress(name, label)
  include ../../../page-elements/views/form/group.pug
  fieldset.fieldset.fieldset-name-address
    legend.fieldset-legend= label
    + group(__('Address'), 'address-title', [{
        type: 'text',
        name: name + 'Name.title',
        attr: { placeholder: __('Title') }
      }, {
        type: 'select',
        name: name + 'Name.gender',
        entries: { '': __('Gender'), W: 'W', M: 'M', O: 'O' }
      }, {
        type: 'text',
        name: name + 'Name.firstname',
        attr: { placeholder: __('First name') }
      }, {
        type: 'text',
        name: name + 'Name.middlename',
        attr: { placeholder: __('Middle name') }
      }, {
        type: 'text',
        name: name + 'Name.lastname',
        attr: { placeholder: __('Last name') }
      }, {
        type: 'text',
        name: name + 'Address.street',
        attr: { placeholder: __('Street') }
      }, {
        type: 'text',
        name: name + 'Address.houseNumber',
        attr: { placeholder: __('House number') }
      }, {
        type: 'text',
        name: name + 'Address.countryCode',
        attr: { placeholder: __('Country') }
      },{
        type: 'text',
        name: name + 'Address.zipCode',
        attr: { placeholder: __('Zip') }
      }, {
        type: 'text',
        name: name + 'Address.town',
        attr: { placeholder: __('City') }
      }]
    )
    + group(__('Additional Information'), 'address-title', [{
        type: 'text',
        name: name + 'Address.addressAddition',
        attr: { placeholder: __('Address Addition') }
      },{
        type: 'text',
        name: name + 'Address.addressAddition2',
        attr: { placeholder: __('Address Addition') + ' 2' }
      }, {
        type: 'text',
        name: name + 'Address.addressAddition3',
        attr: { placeholder: __('Address Addition') + ' 3' }
      }]
    )
