//- widgets/services.pug
mixin services()
  include ../../../page-elements/views/form/field.pug
  include ../../../page-elements/views/form/select.pug
  include ../../../page-elements/views/form/group.pug
  fieldset.fieldset.fieldset-services
    legend.fieldset-legend #{__('Services')}
    + group('', 'serviceSelections', [{
        type: 'checkbox',
        name: 'service.bulkGoodService',
        posttext: __('Bulk Good')
      }, {
        type: 'checkbox',
        name: 'service.limitedQuantitiesService',
        posttext: __('Limited Quantities')
      }, {
        type: 'checkbox',
        name: 'service.eveningDeliveryService',
        posttext: __('Evening Delivery')
      }, {
        type: 'checkbox',
        name: 'service.nextDayService',
        posttext: __('Next Day Delivery')
      }, {
        type: 'checkbox',
        name: 'service.redirectionProhibitedService',
        posttext: __('Redirection Prohibited')
      }, {
        type: 'checkbox',
        name: 'service.excludeParcelShopAuthorization',
        posttext: __('Exclude Authorization at Parcel Shop')
      }]
    )
    + select(__('Household Signature'),
      'service.householdSignatureService',
      {
        '': __('no value'),
        'true': __('yes'),
        'false': __('no')
      }
    )
    + select(__('Signature Service'),
      'service.signatureService',
      {
        '': __('no value'),
        'true': __('signature'),
        'false': __('no signature')
      }, __('Should be ignored')
    )
    + group(__('Cash on Delivery Service'), 'cashOnDeliveryService',
      [
        {
          type: 'text',
          name: 'service.cashOnDeliveryService.amount',
          attr: { placeholder: __('COD Amount'),  title: __('COD Amount') }
        },
        {
          type: 'text',
          name: 'service.cashOnDeliveryService.currency',
          attr: { placeholder: __('COD Currency'), title: __('COD Currency') }
        },{
          type: 'text',
          name: 'service.cashOnDeliveryService.bankTransferAmount',
          attr: { placeholder: __('Bank Transfer Amount'), title: __('Bank Transfer Amount') }
        },
        {
          type: 'text',
          name: 'service.cashOnDeliveryService.bankTransferCurrency',
          attr: { placeholder: __('Bank Transfer Currency'), title: __('Bank Transfer Currency') }
        }
      ]
    )
    + select(__('Customer Alert Notification Type'),
      'service.customerAlertService.notificationType',
      {
        '': __('no value'),
        'SMS': __('SMS'),
        'EMAIL': __('EMAIL')
      }
    )
    + field(__('Customer Alert Mobile Number'), {
      type: 'text',
      name: 'service.customerAlertService.notificationNumber',
      size: 20
    })
    + field(__('Customer Alert Email'), {
      type: 'text',
      name: 'service.customerAlertService.notificationEmail',
      size: 30
    })
    + group(__('Ident Service'), 'identService', [{
        type: 'select',
        name: 'service.identService.identType',
        entries: {
          '': __('no value'),
          'GERMAN_IDENTITY_CARD': __('GERMAN_IDENTITY_CARD'),
          'GERMAN_PASSPORT': __('GERMAN_PASSPORT'),
          'INTERNATIONAL_PASSPORT': __('INTERNATIONAL_PASSPORT')
        }
      },
      {
        type: 'text',
        name: 'service.identService.identID',
        attr: { 
          placeholder: __('Ident ID'),
          title: __('UPPERCASE')
        }
      },
      {
        type: 'text',
        name: 'service.identService.identVerifyBirthday',
        attr: {
          placeholder: __('Ident verify birthday (yyyy-mm-dd)'),
          title: __('optional')
        }
      },
      {
        type: 'select',
        name: 'service.identService.identVerifyFsk',
        entries: {
          '': __('No FSK'),
          '16': __('FSK 16'),
          '18': __('FSK 18')
        }
      }]
    )
    + group(__('Parcel Shop Service'), 'parcelShopService', [{
        type: 'text',
        name: 'service.parcelShopDeliveryService.psID',
        attr: { placeholder: __('Parcel Shop ID') }
      },
      {
        type: 'text',
        name: 'service.parcelShopDeliveryService.psCustomerFirstName',
        attr: { placeholder: __('Receiver First Name') }
      },
      {
        type: 'text',
        name: 'service.parcelShopDeliveryService.psCustomerLastName',
        attr: { placeholder: __('Receiver Last Name') }
      }]
    )
    + group(__('Stated Day'), 'statedDay', [{
        type: 'text',
        name: 'service.statedDayService.statedDay',
        attr: { placeholder: __('(YYYY-MM-DD)') }
      },
      {
        type: 'select',
        name: 'service.statedTimeService.timeSlot',
        entries: {
          '': __('time slot'),
          'FORENOON': __('FORENOON'),
          'NOON': __('NOON'),
          'AFTERNOON': __('AFTERNOON'),
          'EVENING': __('EVENING')
        }
      }]
    )
